<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatSample</title>
    <p><%= @chatview %></p>
</head>

<body>
    <!--自分やユーザの情報-->
    <h3 id="me" user_id="1">あなたはユーザー１です</h3>
    <h3 id="partner" thread_id="1">相手</h3>
    <div id="users">
        <button class="user" user_id="2">ユーザー２</button>
    </div>
    <br>
    <div id="your_container">

        <!-- チャットの外部部分① -->
        <div id="bms_messages_container">
            <!-- ヘッダー部分② -->
            <div id="bms_chat_header">
                <!-- ステータス -->
                <div id="bms_chat_user_status">
                    <!-- ステータスアイコン -->
                    <div id="bms_status_icon">●</div>
                    <!-- ユーザー名 -->
                    <div id="bms_chat_user_name">ユーザー</div>
                </div>
            </div>


            <!-- タイムライン部分③ -->
            <div id="bms_messages">
                <% @chat_messages.each do |chat_message| %>
                <!-- メッセージ１（左側）-->
                <div class="bms_message bms_left">
                    <div class="bms_message_box">
                        <div class="bms_message_content">
                            <div class="bms_message_text"><%=chat_message.body %></div>
                        </div>
                    </div>
                </div>
                <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはCSSで充てる）-->
                <% end %>

                <!-- メッセージ２（右側）-->
                <div class="bms_message bms_right">
                    <div class="bms_message_box">
                        <div class="bms_message_content">
                            <div class="bms_message_text">いいねー</div>
                        </div>
                    </div>
                </div>
                <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはCSSで充てる）-->

            </div>

            <!-- テキストボックス、送信ボタン④ -->
            <div id="bms_send">
              <form>
                  <input id="chat_speak" type="text" data-behavior="speak_chat_messages">
                  <div id="bms_send_btn">送信</div>
              </form>
                
            </div>
        </div>
    </div>
</body>
</html>

