<div id="form">
    <p class="form-title">User Registration</p>
    <%= form_tag('user_register') do %>
        <%= @error if @error.present?%>
        <p>Username</p>
        <p class="username"><input type="text" name="name" maxlength="32" autocomplete="OFF" /></p>
        <p>Password</p>
        <p class="password"><input type="password" name="password" maxlength="32" autocomplete="OFF" /></p>
        <p class="submit"><input type="submit" value="Enter" /></p>
    <%end%>
</div>

