#your_container{
    /*bms_message_containerの方で、縦横いっぱいに広がってくれるので、
    ここで充てた高さと横幅がそのままスタイルになる仕組み*/
    height:100%;
    width: 100%;
}

/*チャットの外側部分①*/
#bms_message_container{
    height:  100%;
    width:  100%;
    background-color: #eee;
}

/*ヘッダー部分②*/
#bms_chat_header {
    padding: 6px; /*隙間調整*/
    font-size: 16px;
    height: 34px;
    background: #053352;
    border: 1px solid #ccc;
}

    /*ステータスマークとユーザー名*/
    #bms_chat_user_status {
        float: left; /*bms_chat_headerに対して左寄せ*/
    }
    /*ステータスマーク*/
    #bms_status_icon {
        float: left; /*bms_chat_user_statusに対して左寄せ*/
        line-height: 2em; /*高さ調整*/
        color: #fff; /*マークの色*/
    }
    /*ユーザー名*/
    #bms_chat_user_name {
        float: left; /*bms_chat_user_statusに対して左寄せ*/
        line-height: 2em; /*高さ調整*/
        padding-left: 8px;
        color: #fff; /*マークの色*/
    }

/*タイムライン部分*/
#bms_messages {
    overflow: auto; /*スクロールを効かせつつ、メッセージがタイムラインの外に出ないようにする*/
    height:100%;/*テキストエリアが下に張り付くようにする*/
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background: rgba(226,226,226,1);/*以下、各ブラウザ対応仕様で背景をグラデーション化*/
    background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 22%, rgba(95,115,245,1) 49%, rgba(254,254,254,1) 100%);
    background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 22%, rgba(95,115,245,1) 49%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 22%, rgba(95,115,245,1) 49%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 22%, rgba(95,115,245,1) 49%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 22%, rgba(95,115,245,1) 49%, rgba(254,254,254,1) 100%);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset; /*ヘッダーの下に影を入れる*/
}
    /* メッセージ全般のスタイル */
    .bms_message {
        margin: 0px;
        padding: 0 14px; /* 吹き出しがタイムラインの外側にひっつかないように隙間をあける */
        font-size: 16px;
        word-wrap: break-word; /* 吹き出し内で自動で改行 */
        white-space: normal; /* 指定widthにあわせて、文字を自動的に改行 */
    }
        .bms_message_box {
            margin-top: 20px; /*上下の吹き出しがひっつかないように隙間を入れる*/
            max-width: 100%; /*文字が長くなった時に吹き出しがタイムラインからはみ出さないようにする*/
            font-size: 16px;
        }
            .bms_message_content {
                padding: 20px; /*文字や画像（コンテンツ）の外側に隙間を入れる*/
            }

    /* メッセージ１（左側） */
    .bms_left {
        float: left; /*吹き出しをbms_messagesに対して左寄せ*/
        line-height: 1.3em;
    }
        .bms_left .bms_message_box {
            position: relative; /*現在の表示位置から相対的に要素の位置を動かす*/
            display: inline-block;
            margin: 1.0em 0 1.0em 0;
            min-width: 120px;
            max-width: 100%;
            color: #333; /*テキストを黒にする*/
            font-size: 16px;
            background: #fff;
            border: solid 3px #053352;
            box-sizing: border-box;
            border-radius: 15px; /*吹き出しを丸くする*/
        }

        .bms_left .bms_message_box:before { /*疑似要素*/
            content: "";
            position: absolute; /*親要素を基準に、絶対的な位置を指定する*/
            top: 50%;
            left: -24px;
            margin-top: -12px;
            border: 12px solid transparent;
            border-right: 12px solid #fff;
            z-index: 2; /*要素の重なり順を決めるプロパティ*/
        }

        .bms_left .bms_message_box:after { /*疑似要素*/
            content: "";
            position: absolute; /*親要素を基準に、絶対的な位置を指定する*/
            top: 50%;
            left: -30px;
            margin-top: -14px;
            border: 14px solid transparent;
            border-right: 14px solid #053352;
            z-index: 1; /*要素の重なり順を決めるプロパティ*/
        }

        .bms_left .bms_message_box p {
            margin: 0;
            padding: 0;
        }

    /* メッセージ２（右側） */
    .bms_right {
        float: right; /*吹き出しをbms_messagesに対して右寄せ*/
        line-height: 1.3em;
    }
        .bms_right .bms_message_box {
            position: relative; /*現在の表示位置から相対的に要素の位置を動かす*/
            display: inline-block;
            margin: 1.0em 15px 1.0em 0;
            min-width: 120px;
            max-width: 100%;
            color: #fff; /*テキストを白にする*/
            font-size: 16px;
            background: #053352;
            border: solid 3px #053352;
            box-sizing: border-box;
            border-radius: 15px; /*吹き出しを丸くする*/
            }

         .bms_right .bms_message_box:before { /*疑似要素*/
            content: "";
            position: absolute; /*親要素を基準に、絶対的な位置を指定する*/
            top: 50%;
            right: -24px;
            margin-top: -12px;
            border: 12px solid transparent;
            border-left: 12px solid #053352;
            z-index: 2; /*要素の重なり順を決めるプロパティ*/
            }

        .bms_right .bms_message_box:after { /*疑似要素*/
            content: "";
            position: absolute; /*親要素を基準に、絶対的な位置を指定する*/
            top: 50%;
            right: -30px;
            margin-top: -14px;
            border: 14px solid transparent;
            order-left: 14px solid #fff;
            z-index: 1; /*要素の重なり順を決めるプロパティ*/
            }

        .bms_right .bms_message_box p {
            margin: 0;
            padding: 0;
            }
        
    /* 回り込みを解除 */
    .bms_clear {
        clear: both; /*左のメッセージと右のメッセージの割り込み(float)の効果の鑑賞を防ぐために必要（これがないと、自分より下のメッセージにfloatが影響する）*/

    }

    /* テキストエリア、送信ボタン④ */
    #bms_send {
        background-color: #eee; /*タイムラインの色と同じにする*/
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        height: 48px;
        padding: 4px;
    }
        #chat_speak {
            width: calc(100% - 75px); /*常に送信ボタンの横幅を引いたサイズに動的に計算*/
            line-height: 16px;
            height: 48px;
            /* padding: 14px 6px 0px 6px; *//*文字がテキストエリアの中心になるように隙間調整*/
            border: 1px solid #ccc;
            border-radius: 4px; /*角丸*/
            text-align: left; /*文字を左寄せ*/
            box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset; /*内側に影を入れてテキストエリアらしくした*/
            box-sizing: border-box; /*paddingとborderの高さと幅の影響をなくす（要素に高さと幅を含める）*/
        }

    #bms_send_btn {
        width: 72px;
        height: 48px;
        font-size: 16px;
        line-height: 3em;
        float: right; /*bms_sendに対して右寄せ*/
        color: #fff;
        font-weight: bold;
        background: #bcbcbc;
        text-align: center; /*文字をボタン中央に表示*/
        border: 1px solid #bbb;
        border-radius: 4px; /*角丸*/
        box-sizing: border-box; /**paddingとborderの要素と幅の影響をなくす（要素に高さと幅を含める）*/
    }
    #bms_send_btn:hover {
        background-color: #053352; /*マウスポインタを当てた時にアクティブな色になる*/
        cursor: pointer; /*マウスポインタを当てたときに、カーソルの色が指の形になる*/
    }